.right-sidebar {
    .sign-img {
        max-width: 100%;
        width: 70px;
        height: 90px;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid transparent;

        &.active {
            border: 1px solid blue;
        }
    }
}