#traffic-map {
    width: 100%;
    height: 90vh;

    .custom-marker {
        outline: 0px solid transparent;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

        img {
            width: 45px;
            height: 65px;
        }

        &:hover,
        &.active {
            outline: 2px solid rgb(25, 25, 199);
        }

        &.active {
            .map-img-container {
                button {
                    // display: block;
                }

                .custom-marker-context-menu {
                    display: flex;
                }
            }
        }

        &.hover {
            border: 2px solid blue;
        }

        &+div img {
            display: none !important;
        }


        .map-img-container {
            position: relative;
            line-height: 0;



            button {
                position: absolute;
                top: -15px;
                right: -15px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                color: red;
                border: 1px solid red;
                background-color: white;
                cursor: pointer;
                display: none;
            }

            .custom-marker-context-menu {
                position: absolute;
                right: -132px;
                top: 0;
                min-width: 130px;
                /* height: 100px; */
                display: flex;
                flex-direction: column;
                gap:8px;
                /* width: 100px; */
                background: white;
                padding-block: 10px;
                padding-left: 3px;
                padding-right: 18px;
                border-radius: 8px;
                box-shadow: 0 0 5px rgb(0 0 0 / 40%);
                display: none;
                cursor: pointer;

                & * {
                    line-height: initial;
                    font-size: 14px;
                }

                &-item {
                    // background-color: #ccc;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    // &:hover{
                    //     background-color: gray;
                    // }
                }

                .delete-icon {
                    // transition: all 0.3s ease-in-out;

                    // svg {
                    //     color: #f13e3e;
                    // }

                    // &:hover {
                    //     transform: scale(1.1);
                    // }
                }
            }

            &:hover {
                button {
                    // display: block;
                }

                .custom-marker-context-menu {
                    display: flex;
                }
            }


        }


    }

    div[class*="-marker-view"] {
        outline: none !important;
    }

    .gm-ui-hover-effect {
        display: none !important;
    }

}